<template>
  <v-container class="mt-10">
    <v-card elevation="12" class="flex-nowrap pa-4">
      <router-link to="/Transactions" tag="v-btn">
        <v-btn color="success" dark class="ma-5">
          Transaction Logs
        </v-btn>
      </router-link>

      <v-row cols="12" class="mx-auto">
        <v-col cols="4" v-for="result in results" :key="result.book_id">
          <v-card class="mx-auto" outlined>
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">
                  {{ result.book_category }}
                </div>
                <v-list-item-title class="headline mb-1">
                  {{ result.book_title }}
                </v-list-item-title>
                <v-list-item-subtitle>{{
                  result.book_author
                }}</v-list-item-subtitle>
              </v-list-item-content>

              <v-dialog
                v-model="dialog"
                persistent
                :retain-focus="false"
                max-width="600px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    Borrow
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">Transaction Information</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            readonly
                            label="Book ID"
                            v-model="result.book_id"
                          ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            label="Book Title"
                            v-model="result.book_title"
                            readonly
                          ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            label="Category"
                            v-model="result.book_category"
                            readonly
                          ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                          <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="date"
                                label="Borrow Date*"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="date"
                              @input="menu2 = false"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-combobox
                            :items="borrowers"
                            :return-object="false"
                            item-text="borrower_name"
                            item-value="borrower_id"
                            v-model="borrower"
                            label="Borrower Name*"
                            required
                          ></v-combobox>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-combobox
                            :items="staffs"
                            :return-object="false"
                            item-text="staff_name"
                            item-value="staff_id"
                            v-model="staff"
                            label="Staff Name*"
                            required
                          ></v-combobox>
                        </v-col>
                      </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">
                      Close
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="saveData(result.book_id)"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-list-item>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  name: "App",
  data: () => ({
    dialog: false,
    staff: "",
    bookID: "",
    bookTitle: "",
    bookCategory: "",
    borrowDate: "",
    borrower: "",
    date: new Date().toISOString().substr(0, 10),
    menu2: false,
    results: [],
    staffs: [],
    borrowers: []
  }),
  created() {
    this.getbooks();
    this.getstaff();
    this.getborrower();
  },

  methods: {
    getbooks: function() {
      axios.get("http://localhost:4000/books").then(res => {
        console.log(res.data);
        this.results = res.data;
      });
    },
    getstaff: function() {
      axios.get("http://localhost:4000/staffs").then(res => {
        console.log(res.data);
        this.staffs = res.data;
      });
    },
    getborrower: function() {
      axios.get("http://localhost:4000/borrower").then(res => {
        console.log(res.data);
        this.borrowers = res.data;
      });
    },
    saveData: function(id) {
      axios
        .post("http://localhost:4000/transaction", {
          staff_id: this.staff,
          book_title: this.bookTitle,
          book_id: id,
          book_category: this.bookCategory,
          borrower_id: this.borrower,
          borrow_date: this.date
        })
        .then(res => {
          console.log(res.data);
          this.dialog = false;
        });
    }
  }
};
</script>
