<template>
  <div>
    <router-link to="/" tag="v-btn">
      <v-btn color="success" dark class="ma-5">
        Book List
      </v-btn>
    </router-link>
    <v-data-table
      :headers="headers"
      :items="details"
      sort-by="calories"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Transaction Logs</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        readonly
                        filled
                        disabled
                        v-model="editedItem.book_title"
                        label="Book ID"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        readonly
                        filled
                        disabled
                        v-model="editedItem.borrow_date"
                        label="Borrow Date"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        readonly
                        filled
                        disabled
                        v-model="editedItem.borrower_name"
                        label="Borrower ID"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        readonly
                        filled
                        disabled
                        v-model="editedItem.staff_name"
                        label="Staff ID"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                      <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date"
                            label="Return Date"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="date"
                          @input="menu2 = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">
                  Cancel
                </v-btn>
                <v-btn color="blue darken-1" text @click="save">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">
          Reset
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    menu2: false,
    name: "App",
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Transaction ID",
        align: "start",
        sortable: false,
        value: "trans_id"
      },
      { text: "Book Title", value: "book_title" },
      { text: "Borrower Name", value: "borrower_name" },
      { text: "Staff Name", value: "staff_name" },
      { text: "Borrow Date", value: "borrow_date" },
      { text: "Return Date", value: "return_date" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    details: [],
    editedIndex: -1,
    editedItem: {
      book_title: "",
      borrow_date: 0,
      borrower_name: 0,
      staff_name: 0,
      return_date: 0
    },
    defaultItem: {
      book_title: "",
      borrow_date: 0,
      borrower_name: 0,
      staff_name: 0,
      return_date: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Return Book";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios.get("http://localhost:4000/books/transactions").then(res => {
        console.log(res.data);
        this.details = res.data;
      });
    },

    editItem(item) {
      this.editedIndex = this.details.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.details.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
      axios.delete("http://localhost:4000/transaction/" + item.trans_id);
    },

    deleteItemConfirm() {
      this.details.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      console.log(this.editedItem.trans_id);
      axios.put(
        "http://localhost:4000/transaction/" + this.editedItem.trans_id,
        {
          return_date: this.date
        }
      );
      this.initialize();
      if (this.editedIndex > -1) {
        Object.assign(this.details[this.editedIndex], this.editedItem);
      } else {
        this.details.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
